.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   background-color: #191970;
   

}

ul{
	padding: 0;
	position: relative;
	width: 100%;
	margin-top: 10px;
	
}

ul li{
	list-style: none;
	float: right;
	color: black;
	font-family: arial;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
	margin-top: -5px;
	

}

ul li:hover,
.active
{
	background: gray;
	color: white;
}
